<div class="education section">
    <h2 class="section-title">Education</h2>
    <div class="institution">
      <p><strong>Afeka Tel Aviv Academic College of Engineering</strong></p>
      <p>B.Sc. in Software Engineering, Tel Aviv</p>
      <p>October 2020 — July 2024 (Expected graduation)</p>
    </div>
    <div class="institution">
      <p><strong>Golda High School, Petah Tiqwa</strong></p>
      <p>September 2013 — July 2016</p>
      <p>Nachshon class Program: Leading scientific and technological education.</p>
    </div>
  </div>