<div class="courses section">
  <h2 class="section-title">Major Courses</h2>
  <ul>
    <li>Full Stack Development</li>
    <li>Intro to System Programming (C)</li>
    <li>Mobile applications - Android</li>
    <li>Advanced Object-Oriented Programming (Java and Python)</li>
    <li>Machine Learning</li>
    <li>Computer Architecture</li>
    <li>Data Structure & Algorithms</li>
    <li>Artificial Neural Networks & Deep Learning</li>
    <li>Operation Systems</li>
    <li>Parallel & Distributed Computing</li>
    <li>Databases</li>
  </ul>
</div>