.characteristics-list {
  list-style-type: disc; /* You can change this to another type if you prefer */
  padding: 0;
  margin: 0 auto; /* Center the list */
  display: inline-block; /* Make the list content align center */
  text-align: left; /* Align text to the left within the centered list */
}

.characteristics-list li {
  margin-bottom: 5px;
}